<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="BaseTemplate.tt"#>
<#@ output extension="\\" #>
<#
CustomHost host = (CustomHost)Host;
OdcmModel entity = host.OdcType.AsOdcmClass();
	
#>
<#=GetCommentHeader()#>

#import "<#=GetPrefix() + "Models.h"

<#=GetImplementationDoc(c.Name)#>
@implementation <#=GetPrefix() + entity.Name#>	

@end