<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ include file="..\..\BaseTemplate.tt"#>
<#@ output extension="\\" #>
<#
CustomHost host = (CustomHost)Host;

OdcmModel model = host.Model;

var complexTypes = model.GetComplexTypes();

foreach(var c in complexTypes)
{	
#>
<#=GetCommentHeader()#>

#import "<#=GetPrefix() + c.Name#>.h"

<#=GetImplementationDoc(c.Name)#>
@implementation <#=GetPrefix() + c.Name#>	

@end
<#=CreateEndOfFile(GetPrefix() +  c.Name)#><#
}
#>